@tailwind base;
@tailwind components;
@tailwind utilities;
.collapse {
  visibility: visible!important;
}
.bgg{
background-image: linear-gradient(0deg, rgba(47,21,47,0.9), rgba(46,86,200,0.9)), url("../assets/bg.png");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

color:white;
}
.bgg_about{
background-image: linear-gradient(0deg, rgba(47,21,47,0.9), rgba(46,86,200,0.9)), url("../assets/AboutBG.png");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

color:white;
}
.bgg2 {
  background-image: linear-gradient(0deg, rgba(47, 21, 47, 0.9), rgba(47, 21, 47, 0.9)), url("../assets/bg2.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  color: white;
}
.bgg2_about {
  background-image: linear-gradient(256deg, rgba(51, 104, 224, 0.90) , rgb(240, 106, 241)) , url("../assets/AboutBG2.png");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  color: white;
}
.transparent-button {
  background-color: transparent;
  color: #fff;
  /* Text color */
  border: 1px solid #fff;
  /* Border color and thickness */
  padding: 10px 20px;
  /* Adjust padding as needed */
  font-size: 16px;
  /* Font size */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10%;
}

.transparent-button:hover {
  background-color: #fff;
  /* Background color on hover */
  color: #000;
  /* Text color on hover */
}

.card-img-top {
  width: 60%!important;
}
.adjust{
  display: flex;
}
.bgg3{
  background: linear-gradient(180deg, rgba(51, 104, 224, 0.90) 50%, rgba(70, 20, 70, 0.90) 100%);
}
@media only screen and (max-width: 600px) {

.adjust{
  display: block;
}
}